<div class="container">
    <h2>Students Information</h2>
  
    <div class="center-table">
      <table class="styled-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>RegNo</th>
            <th>Address</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students">
            <td>{{ student.name }}</td>
            <td>{{ student.regno }}</td>
            <td>{{ student.address }}</td>
            <td>
                <button (click)="editStudent(student)">Edit</button>
              </td>
          </tr>
        </tbody>
      </table>
    
  <button type="button" (click)="toggleForm()">Add Student</button>
  </div>
    <form  class="style-form" *ngIf="showForm" #myForm="ngForm" (ngSubmit)="onSubmit()">
      <label>Name</label>
      <input type="text" id="name" ngModel name="name" [(ngModel)]="name" placeholder="Enter your name" required>
      <p class="errormessage" *ngIf="myForm.submitted && myForm.controls['name'].status === 'INVALID'">Please Enter the field</p>
      <label>RegNo</label>
      <input type="number" id="number" ngModel name="regno" [(ngModel)]="regno" placeholder="Enter your RegNo" required>
      <p class="errormessage" *ngIf="myForm.submitted && myForm.controls['regno'].status === 'INVALID'">Please Enter the field</p>
      <label>Address</label>
      <input type="text" id="address" ngModel name="address" [(ngModel)]="address" placeholder="Enter your address" required>
      <p class="errormessage" *ngIf="myForm.submitted && myForm.controls['address'].status === 'INVALID'">Please Enter the field</p>
        
        <button type="Submit" [disabled]="!myForm.valid">Submit</button>
        <button type="button" (click)="clearForm()">Reset</button>
        <button type="button" (click)="cancelEdit()">cancel</button>
    
    </form>
  </div>